*{
	margin: 0;
	padding: 0;
}

/* BAGIAN BODY CONTAINER */
body {
	/* background-image : url(../gambar/background_utama.png); */
	background-color: rgb(233, 233, 233);
}

/* CONTAINER ISI */
.container{
	width: 1200px;
	max-width: 100%;
	margin: 40px auto 50px ;
	padding: 10px ;
	background-color:   rgb(233, 233, 233);
	transition: .4s;
}

.judul{
    margin-top: 40px;;
}
.judul h1{
    text-align: center;
    color:rgb(68, 68, 68);
    font-size: 40px;
    font-family: sans-serif;
    
}



 /* berita */
.berita{
	background-color: rgb(255, 255, 255);
	/* height: fit-content; */
	margin: 20px auto 40px;
	padding-bottom:30px;
	width: 1100px;
	max-width: 90%;
	height: fit-content;
	border: .1px solid rgb(182, 182, 182);
    box-shadow: -5px 5px 5px rgb(160, 160, 160),
                5px -5px 5px  rgb(160, 160, 160);
}

.isi_berita{
    padding: 40px;;

}


.isi_berita h2{
	margin: 20px 0px 0px; 
	font-size: 38px;
	font-family: sans-serif;
	text-align: justify;
	text-transform: capitalize;
	/* background-color: rgb(197, 139, 255); */
	color: rgb(73, 98, 243);
	
}

.isi_berita h3{
	margin: 30px 0px 0px; 
	line-height: 0px;
	font-size: 18px;
	text-align: justify;
	background-color: rgb(140, 176, 197);
	color: rgb(105, 105, 105);
	font-family: sans-serif;
}


.garis{
	width: 100%;
	margin-left: 100px;
	border: .1px solid rgb(231, 231, 231);
	margin: 30px 0px 30px; 
}

.isi_berita p{
	text-indent: 60px;
	line-height: 24px;;
	font-size: 20px;;
	letter-spacing: .5px;
	text-align: justify;
}






