*{
	margin: 0;
	padding: 0;
}

/* BAGIAN BODY CONTAINER */
body {
	/* background-image : url(../gambar/background_utama.png); */
	background-color: rgb(233, 233, 233);
}






/* CONTAINER ISI */
.container{
	width: 1200px;
	max-width: 100%;
	margin: 40px auto 50px ;
	padding: 10px ;
	background-color:   rgb(233, 233, 233);
	transition: .4s;
}

.container:hover{
	width: 1200px;
	max-width: 100%;
	margin: 40px auto 50px ;
	padding: 10px ;
	background-color: rgb(243, 243, 243);
	box-shadow: -1px 1px 10px rgb(37, 37, 37),
				1px 1px 10px rgb(0, 0, 0);
}


/* kata sambutan */
.isi{
	margin: 100PX auto;
	padding-bottom:50px;
	width: 1000px;
	max-width: 90%;
	height: auto;

}

.isi h1{
	padding: 30px 0px 0px 0px;
	color : rgb(0, 0, 0);
	font-size: 30px;
	/* background-color: rgb(0, 187, 201); */
	font-family: sans-serif;
	text-indent: 50px;
}

.visi h2{
	padding: 30px 0px 0px 0px;
	color : rgb(0, 0, 0);
	font-size: 25px;
	/* background-color: rgb(0, 187, 201); */
	font-family: sans-serif;
	text-indent: 50px;
	
}

.visi p{
	padding: 20px 0px 40px 30px;
	color : rgb(0, 0, 0);
	font-size: 21px;
	/* background-color: rgb(0, 187, 201); */
	font-family: sans-serif;
	text-indent: 50px;
}

.misi h2{
	padding: 20px 0px 0px 0px;
	color : rgb(0, 0, 0);
	font-size: 25px;
	/* background-color: rgb(0, 187, 201); */
	font-family: sans-serif;
	text-indent: 50px;
	
}

.misi p{
	padding: 20px 0px 0px 83px;
	color : rgb(0, 0, 0);
	font-size: 20px;
	/* background-color: rgb(0, 187, 201); */
	font-family: sans-serif;
	text-indent: px;
}



